/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');


/* Sections style */
@import url('./header.css');
@import url('./badges.css');
@import url('./back-link.css');

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 1128px;
  margin: 0 auto;
  padding: 24px 0px;
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery-image:hover {
  transform: scaleX(1.0444) scaleY(1.08);
}

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 360px;
  margin: 0 auto;
  align-items: flex-start;
  font-family: 'Montserrat';
}

input,
textarea {
  border-radius: 4px;
  border: 1px solid #808080;
  width: 360px;
  font-family: 'Montserrat';
  padding: 8px 16px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.submit-button {
  margin-top: 8px;
  width: 86px;
  height: 40px;
  background-color: #4e75ff;
  border: none;
  color: #fff;
  border-radius: 8px;
  font-family: 'Montserrat';
}

input {
  height: 40px;
}
textarea {
  height: 80px;
  resize: none;
}

.submit-button:hover {
  background-color: #6c8cff;
}
